# FMA Dataset folders
fma_metadata/
fma_small/
processed_data/
*summary*
# Proposal documents
*proposal*
*Proposal*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.conda/
.venv/
venv/
env/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

#Models
Model data/

#mp3 files
*.mp3

*.txt
